@charset "UTF-8";

body {
    background-color: #04D939;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #025939;
}

h1#principal {
    text-align: center;
    background-color: #03A63C;
    color: white;
}

h2 {   
    color: #027333;
}

.basico {
    color: #027333;
}

.intermediario {
    color: #717302
}
.avancado {
    color: #730902;
}
.destaque {
    background-color: rgb(255, 255, 105);
}